@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* General Styles */
body {
    font-size: 1em;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: white;
    background-image: linear-gradient(rgba(0,0,0,0.5),#495eb3),url(background.jfif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.thanks {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 15vw;
}