@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* General Styles */
body {
    font-size: 1em;
    color: white;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    background-image: linear-gradient(rgba(0,0,0,0.5),#495eb3),url(background.jfif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@media screen and (min-width: 375px) {
    body {
      margin: 1em 2em;
    }
  } 

/* || STORE PAGES */
.text-box {
    text-align: center;
    font-size: 2rem;
}

.form {
    width: 40%;
    padding: 30px;
    margin: auto;
    border-radius: 10px;
    text-align: left;
    background-color: rgba(0,0,0,0.5);
    color: white;
}

#name, #email, #number {
    width: 90%;
    padding: 15px;
    border-radius: 10px;
}

#dropdown {
    width: 96%;
    padding: 15px;
    border-radius: 10px;
}

#comment {
    width: 95%;
    padding: 15px;
    border-radius: 10px;
    resize: none;
}

#submit {
    font-size: 2rem;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    margin-top: 34px;
    color: white;
    background-color: green;
}

/* PSEUDO */

#name + span {
    position: relative;
}
  
#name:invalid + span::before {
    font-size: 0.7rem;
    position: absolute;
    content: "Required";
    color: white;
    background-color: red;
    padding: 5px 10px;
    top: -40px;
    left: -70px;
}

#email + span {
    position: relative;
}
  
#email:invalid + span::before {
    font-size: 0.7rem;
    position: absolute;
    content: "Required";
    color: white;
    background-color: red;
    padding: 5px 10px;
    top: -40px;
    left: -70px;
}